.heading,body{
    font-family: var(--bs-font-sans-serif);
    text-align: center;
    background-color: #f8f8f8;
}
.heading{
    padding-top:15px;
    padding-bottom:15px;
}
.main_block{
    width: 100%;
    height: auto;
    overflow: hidden;
}
#first_block{
    width:100%;
    height:520px;
}
#About{
    width:100%;
    height:auto;
    overflow: hidden;
}
.about_block{
width:100%;
height:auto;
overflow: hidden;
}
.img-block,.side_block{
    width:50%;
    height:auto;
    overflow: hidden;
    float: left;
    padding:15px;
}

.side_block{
    text-align: left;
}
#Download{
    width:100%;
    height:250px;
}
.playstore_download,.appstore_download{
    float:left;
    width:50%;
}
.btn{
    width:200px;
}
.mdi-36px {
    font-size: 39px;
    margin-right: 10px
}
#Team{
    width:100%;
    height:auto;
    overflow: hidden;
}
.team_block{
    height:auto;
    overflow: hidden;
}
.team4 {
    font-family: "Montserrat", sans-serif;
      color: #8d97ad;
    font-weight: 300;
  }
  
  .team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
    color: #3e4555;
  }
  
  .team4 .font-weight-medium {
      font-weight: 500;
  }
  
  .team4 h5 {
      line-height: 22px;
      font-size: 18px;
  }
  
  .team4 .subtitle {
      color: #8d97ad;
      line-height: 24px;
          font-size: 13px;
  }
  
  .team4 ul li a {
    color: #8d97ad;
    padding-right: 15px;
    -webkit-transition: 0.1s ease-in;
    -o-transition: 0.1s ease-in;
    transition: 0.1s ease-in;
  }
  
  .team4 ul li a:hover {
    -webkit-transform: translate3d(0px, -5px, 0px);
    transform: translate3d(0px, -5px, 0px);
      color: #316ce8;
  }

#Contact{
    width:100%;
    height:auto;
    overflow: hidden;
}
.footer_block{
    text-align: center;    
}