<div class="m-4">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a href="{% url 'Home' %}" class="navbar-brand">Funcity.today</a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    {% comment %} <a href="#" class="nav-item nav-link active">Home</a> {% endcomment %}
                    <a href="#About" class="nav-item nav-link">About</a>                    
                    <a href="#Download" class="nav-item nav-link">Download</a>  
                    <a href="#Team" class="nav-item nav-link">Team</a>  
                    <a href="#Contact" class="nav-item nav-link">Contact Us</a>                  
                </div>
                {% comment %} <div class="navbar-nav ms-auto">
                    <a href="#" class="nav-item nav-link">Team</a>
                </div> {% endcomment %}
            </div>
        </div>
    </nav>
</div>