<head>{% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Funcity Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="{% static 'css/home.css' %}" rel="stylesheet">
</head>
<body>
{% include 'base.html' %}
<div class="main_block">
    <div id="first_block">
        
    </div>
    <div id="About">
        <h3 class="heading">About</h3>
        <div class="about_block">
            <div class="img-block">
                <img src="" class="about_img">
            </div>
            <div class="side_block">
                <h5 class="text-custom font-weight-normal mb-3">About Us</h5>
                <h4 class="title mb-4">
                    Our mission is to <br />
                    make your life easier.
                </h4>
                <p class="text-muted mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit quod debitis praesentium pariatur temporibus ipsa, cum quidem obcaecati sunt?</p>

            </div>
        </div>
    </div>
    <div id="Download">
        <h3 class="heading">Download</h3>
        <div class="download_block">
            <div class="playstore_download">
                <button class="btn btn-outline-dark btn-icon-text"> <i class="fa fa-android btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Get it on the</small> Play Store </span> </button>
            </div>
            <div class="appstore_download">
                <button class="btn btn-outline-dark btn-icon-text"> <i class="fa fa-apple btn-icon-prepend mdi-36px"></i> <span class="d-inline-block text-left"> <small class="font-weight-light d-block">Available on the</small> App Store </span> </button> 
            </div>
        </div>
    </div>
    <div id="Team">
   
        <div class="team_block">
            <div class="py-5 team4">
                <div class="container">
                  <div class="row justify-content-center mb-4">
                    <div class="col-md-7 text-center">
                        <h3 class="heading">Team</h3>
                      <h3 class="mb-3">Experienced & Professional Team</h3>
                      <h6 class="subtitle">You can relay on our amazing features list and also our customer services will be great experience for you without doubt and in no-time</h6>
                    </div>
                  </div>
                  <div class="row">
                    <!-- column  -->
                    <div class="col-lg-3 mb-4">
                      <!-- Row -->
                      <div class="row">
                        <div class="col-md-12">
                          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t1.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                          <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Row -->
                    </div>
                    <!-- column  -->
                    <!-- column  -->
                    <div class="col-lg-3 mb-4">
                      <!-- Row -->
                      <div class="row">
                        <div class="col-md-12">
                          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t2.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                          <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Row -->
                    </div>
                    <!-- column  -->
                    <!-- column  -->
                    <div class="col-lg-3 mb-4">
                      <!-- Row -->
                      <div class="row">
                        <div class="col-md-12">
                          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t3.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                          <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Row -->
                    </div>
                    <!-- column  -->
                    <!-- column  -->
                    <div class="col-lg-3 mb-4">
                      <!-- Row -->
                      <div class="row">
                        <div class="col-md-12">
                          <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle" />
                        </div>
                        <div class="col-md-12 text-center">
                          <div class="pt-2">
                            <h5 class="mt-4 font-weight-medium mb-0">Michael Doe</h5>
                            <h6 class="subtitle mb-3">Property Specialist</h6>
                            <p>You can relay on our amazing features list and also our customer services will be great experience.</p>
                            <ul class="list-inline">
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-facebook"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-twitter"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-instagram"></i></a></li>
                              <li class="list-inline-item"><a href="#" class="text-decoration-none d-block px-1"><i class="icon-social-behance"></i></a></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <!-- Row -->
                    </div>
                  </div>
                </div>
              </div>
              
        </div>
    </div>
    <div id="Contact">
        <h3 class="heading">Contact</h3>
        <div class="contact_block">

        </div>
    </div>
</div>
<div class="footer_block">
    <div class="div1">Copyright © 2022 Funcity.today</div>
    {% comment %} <div class="div2">Connect with us</div> {% endcomment %}
</div>
</body>